.alter {
  padding: 15px;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alter-success {
  color: #3c763c;
  background-color: #dff0d8;
  border-color: #d6e9d6;
}

.alter-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #edccd1;
}
.error {
  color: #d60502;
  font: inherit;
}